@{
    ViewData["Title"] = "RinTinTin";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>RinTinTin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Impact
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>


    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>RinTinTin</h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#about">About</a></li>
                    @*<li><a href="#portfolio">Photos</a></li>*@
                    @*<li><a href="#team">Team</a></li>*@
                    @* <li class="dropdown">
                    <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown">
                    <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                    </ul>
                    </li>*@
                </ul>
            </nav><!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-4" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <div class="text-white">
                        <h2>Welcome!</h2>
                        <h1>Are You Ready To Meet RinTinTin?</h1>
                    </div>

                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#main" class="btn-get-started">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=17JTBL5yqXA" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                </div>
                <div class="col-lg-4 order-1 order-lg-2">
                    <img src="assets/img/main.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                </div>
            </div>
        </div>


    </section>
    <!-- End Hero Section -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <center><h2>Who Is RinTinTin</h2></center>
                <div class="row gy-4">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        <p>
                            RinTinTin is a robot dog that can move autonomously and can be moved manually using the desktop application.
                            It is able to detect the obstacles around it and draw the map of its environment.
                            Another speciality of RinTinTin is image detection. It can detect the images that are introduced to it previously.
                        </p>
                    </div>
                </div>
                <div class="row gy-4">
                    <h3> Application</h3>

                    <p>
                        We developed a GUI application with Qt. C++ is used during development. Application is ported to Windows, and POSIX Operating Systems. It is applicable on all POSIX compliant operating systems, and Windows. We only needed to change POSIX calls to win32 system calls in order to do that.
                    </p>
                    <div class="col-lg-6">
                        <img src="assets/img/app1.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                    </div><div class="col-lg-6">
                        <img src="assets/img/app2.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                    </div>
                    <p>
                        Application has 4 main functionalities:
                    </p>
                    <h4>Sending commands to Raspberry Pi:</h4>

                    <p>
                        Buttons on the left bottom of the window are for directing the robot and connecting to the server.
                        There are 2 text fields for IP address and port. With connect button TCPClient connects to TCPServer on Raspberry Pi using IP address
                        and port number entered by the user, with the Disconnect button TCPClient disconnects from TCPServer on Raspberry Pi.
                        In order to give directions to robot, we use TLClient and send data to the
                        TLCServer running on the Raspberry pi on the same network. Forward is for moving robot forward, back is
                        for moving the robot back. Left is for rotating the robot to 90 degrees left and Right is for rotating the robot to 90 degrees right. Other Left and Right commands are for stepping, robot steps left without rotating.
                        Close button cancels the autonomous movement on the path.
                        Reset button resets the all map and autonomous movement.


                    </p>

                    <h4>Receiving Video From Robot's Camera:</h4>

                    <p>
                        There is a frame at the top left to display video camera footage. App uses an Object Detection Module in order to detect the specific object we determined.
                        If the object is viewable on the robot's camera, it draws a rectangle around it on the image and displays it in the app.
                        With that approach the user can understand if the object is detected by the app or not. We use Opencv with C++ in order to achieve this.
                        We encode the frame at the server and send it through the socket to the app. App receives that data and encodes it to Opencv Mat called frame. Then, it displays that frame on the screen.
                        Details for Object Detection will be provided at the Image Processing section.
                    </p>

                    <h4>Drawing Map:</h4>

                    <p>
                        You can view the mapping provided by the Raspberry Pi at the right on the screen. Red dots represent the obstacles detected by the robot.
                        Blue dot represents the current position of the robot. Green dots are for the shortest path to reach target position. This map is updated with the movement of the robot. You can track the 2D environment of the robot from the app. It represents a greater map, but it is scaled to a smaller map in order to fit it to the screen, but all operations are done in an unscaled map. Scaled part affects only visualization.
                        Details for Mapping will be provided at the Mapping section.
                    </p>

                    <h4>Drawing Path:</h4>

                    <p>
                        When a pixel of the map is clicked, the robot moves to the located place on the map, and it maps the place it traversed.
                        This movement is determined with a path finding algorithm which is explained in detail on the autonomous section.
                        Green path is drawn when a pixel is clicked and the robot moves on that path.
                    </p>


                </div>

                <div class="row gy-4">
                    <h3>Communication and Synchronization</h3>
                    <div class="col-lg-6">
                        <p>
                            There are 3 threads on the raspberry side, those are for mapping, movement, and sending images.
                            Image thread is working independently from the other two threads.
                            Mapping and movement must be synchronized, because it shouldn’t map and move simultaneously for proper mapping.
                            It should also map continuously if there is no movement.
                            We used conditional variables, and mutex for the synchronization of these two threads.
                        </p>
                        <p>
                            We provided communication through stream sockets.
                            It is mostly needed between different devices. Different threads communicate through shared data structures when they are on the same device.
                            The application is ported on Windows and POSIX, so some system calls are changed in order to work it on Windows.
                        </p>
                        <p>
                            Mapping process on the Raspberry needed to send the distance result of each coordinate to the main machine. Message format is a simple string which consists of points for each index.
                            It represents the mini-map of a robot scanned.
                            Server part converts it to a string, and the client side parses the message.
                        </p>
                        <p>
                            Command process on the Raspberry needs to get the respected command from the main device.
                            It is a string which represents the command it gets, correct formats are “LEFT”, “RIGHT”, “FORWARD”, “BACK”. Again the raspberry process is the server, application is the client. After raspberry gets the command, there is a message for the purpose of giving feedback. Raspberry gets the command, performs the movement, and returns the “RECEIVED” message through socket.
                            If this message is received from the application, the map is updated.
                        </p>
                        <p>
                            Video process on the raspberry, records the video and continuously sends it to the application module.
                            Message format is a serialized video frame, it is read and written with that format to the stream socket.
                        </p>
                    </div>

                    <div class="col-lg-6">
                        <img src="assets/img/Communication.jpg" class="img-fluid rounded-4 mb-4" alt="">
                    </div>

                </div>
                <div class="row gy-4">
                    <h3>Mapping</h3>

                    <p>
                        We needed a scanner for mapping, then this scanner was requested from the hardware module.
                        Hardware module’s solution is putting an ultrasonic sensor with a servo to the head of the robot to scan a half circle with radius 150 cm which is the maximum distance an ultrasonic sensor can measure in front of it.
                    </p>
                    <p>
                        Ultrasonic sensor measures the distance of the objects in 5 angles.
                        These angles are 0, 75, 90, 105, and 180. For each angle, ultrasonic makes 20 measurements.
                        In this way, we eliminate the outliers which are called noises in our dataset. After that, we get the mean of the sum of our dataset and get the most proper result.
                    </p>

                    <p>
                        Mapping thread on the raspberry, manages the servos and sends the coordinates of the obstacles which are detected by ultrasonic sensor scanning results.
                        These points are paired as (x,y) and sent to the application.
                        We managed the calculations for mapping with creating another thread on the application side.
                        When the application gets these points, it converts those points into its internal data structure.
                        This is what we call a “mini-map”.
                        When each mini-map is gotten from the raspberry, it must be put into the map according to its position, and the angle with starting angle which is 0.
                    </p>
                    <p>
                        Every time the robot moves or rotates, we will update the angle and position of the robot on the big map.
                        Also mini-map position and angle is set according to the robot. In this way we create a general map of parkour.
                    </p>
                    <p>
                        We use an algorithm in order to beautify our map.
                        This algorithm helps to combine points continuously which leads to creating a better map, and makes the path finding algorithm’s job easier.
                        Also we did not remove any removing operation in the big map to solidify obstacles positions.
                    </p>
                    <div class="col-lg-4">
                        <img src="assets/img/mapping1.png" class="img-fluid rounded-4 mb-4" alt="">
                    </div> <div class="col-lg-4">
                        <img src="assets/img/mapping2.png" class="img-fluid rounded-4 mb-4" alt="">
                    </div> <div class="col-lg-4">
                        <img src="assets/img/mapping3.png" class="img-fluid rounded-4 mb-4" alt="">
                    </div>

                
                </div>
                <div class="row gy-4">
                    <h3>Image Processing</h3>

                    <p>
                        We have implemented the image processing algorithm using the Haar cascade classifier in C++ language.
                        We have trained our classifier with custom data that we have prepared.
                        The training data consists of 1000+ negative images and 100 positive images and also we added basic shape detecting algorithm to detect objects such as triangle,square and rectangle by detecting contours as the utility of opencv library.
                    </p>
                    <h2>Training Process</h2>
                    <p>
                        Our positive image data set is for detecting a black swan and a white swan.
                        All of these photos are taken from the Raspberry Pi camera for training the classifier depending on real usage situations.
                        For training we needed to label every instance one by one to get exact result for object detection.
                    </p>
                    <div class="col-lg-4">
                        <img src="assets/img/image_processing5.png" class="img-fluid rounded-4 mb-4" alt="">
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/image_processing4.png" class="img-fluid rounded-4 mb-4" alt="">
                    </div>
                    <p>
                        Our negative image data set of the parkour to train not detecting irrelevant objects.
                    </p>

                    <p>
                        We have used these positive and negative images for training our classifier.
                        We have used a graphical interface that takes these positive and negative images, and trains a cascade classifier model.
                    </p>
                    <div class="col-lg-6">
                        <img src="assets/img/image_processing3.png" class="img-fluid rounded-4 mb-4" alt="">
                    </div>
                    <p>
                        Result of our cascade classifier training is an XML file that is specially designed for our custom model.
                    </p>
                    <div class="col-lg-6">
                        <img src="assets/img/train5.jpg" class="img-fluid rounded-4 mb-4" alt="">
                    </div>

                    <h2>Using the Custom Trained Classifier Model</h2>

                    <p>
                        After the training of the classifier model, we have created an XML file of the model.
                        We have loaded this file to create a CascadeClassifier object in C++.
                        After the loading of the classifier and receiving the video to our app, we used the detectMultiScale function of the CascadeClassifier for our classifier and created a vector of rectangles that marks the objects that have been found.
                    </p>
                    <div class="col-lg-6">
                        <img src="assets/img/image_processing2.png" class="img-fluid rounded-4 mb-4" alt="">
                    </div>

                    <p>
                        After all of these process, we can find our object and mark it successfully
                    </p>
                    <div class="col-lg-6">
                        <img src="assets/img/image_processing1.png" class="img-fluid rounded-4 mb-4" alt="">
                    </div>
                </div>


                <div class="row gy-4">
                    <h3>Hardware</h3>
                    <div class="col-lg-6">
                        <p>
                            In this phase of the project, we preserve most of the parts in the robot generally.
                            Building upon its foundation, we integrated a new servo and a new ultrasonic sensor to the hardware with the request of the mapping module.
                            The newly integrated servo has been securely attached to the robot’s body, enabling it to execute swift and seamless rotations spanning a full 180 degrees.
                            The newly integrated ultrasonic sensor is attached to this new servo with some components. In this way, ultrasonic sensor can scan obstacles in a half circle area with a diameter of 150cm.

                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/robot.jpg" class="img-fluid rounded-4 mb-4" alt="">
                    </div>
                </div>

                <div class="row gy-4">
                    <h3>Autonomous Movement</h3>
                </div>
                <div class="row gy-4">

                    <h4>Problem Definition:</h4>

                    <p>
                        Our autonomous robot is designed to navigate towards a specific target on a map.
                        The map is represented by a network of nodes, where each node represents a specific location.
                        The robot explores the nodes on the map using the A* algorithm, aiming to find the shortest path.
                    </p>

                    <h4>The A* Algorithm:</h4>

                    <p>
                        The A* algorithm is employed to discover the shortest path by traversing the nodes on the map.
                        The algorithm prioritizes the nodes based on their distance and estimated distance to the target.
                        As a result, the robot advances towards the node that is closest to the target.
                        We are not using A* algorithm directly, because this algorithm is not designed with directions.
                        It must be implemented with respect to directions, and in order to make proper mapping, It must rotate, without stepping.
                        If it rotates, and continues forward, the map will be better.
                        Because of this we updated the A* algorithm with the knowledge of robots degree.
                        In normal A* algorithm, it checks directions in the same order all the time.
                        But to achieve our purpose, we changed the algorithm by checking the forward of the robot first according to its direction.
                        When the algorithm produces a left or right step, the robot rotates according to its degree and performs the proper command.
                        If it needs to go back, It rotates 180 degrees.
                        Also this algorithm works well on simulation, but when the modules are integrated, it is changed a lot.
                        Because 1 pixel on the map is not enough to rotate the robot. It rotates early for proper rotation.
                    </p>

                    <div class="col-lg-4">
                        <h4>Pathfinding:</h4>

                        <p>
                            The robot identifies the target node based on the user's input and utilizes the A* algorithm to determine the shortest path.
                            The algorithm explores the nodes from the starting node to the target node and calculates the shortest path.
                            This process enables the robot to efficiently identify the most optimal route by reducing the distance to the target.
                        </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <img src="assets/img/Autonomious.jpg" class="img-fluid rounded-4 mb-4" alt="">
                    </div>


                    <h4>Recalculation Based on New Data:</h4>

                    <p>
                        After each click or encountering an obstacle, the robot recalculates its path based on new data.
                        This data may include the status of obstacles or unobstructed areas on the map.
                        Using the A* algorithm, the robot determines a new path based on the updated data and continues its movement accordingly.
                    </p>
                    <h4>Robot Movements:</h4>

                    <p>
                        The A* algorithm determines the robot's next movement at each step.
                        The robot executes the designated movement and then recalculates its path based on the updated data.
                        This process enables the robot to progress towards the target efficiently.
                        Algorithm movement patterns did not work well when modules are integrated, in order to solve that we add additional algorithms to processes that produce commands which are also designed with the knowledge of mapping, and rotation.
                        After making those changes, integration is completed.
                    </p>
                    <h4>

                        Conclusion:
                    </h4>

                    <p>
                        Our autonomous robot aims to employs the A* algorithm to identify the shortest path towards the target on the map.
                        After each click or encountering an obstacle, the robot recalculates its path based on new data, allowing it to navigate autonomously and reach the target in the shortest possible time.
                    </p>


                </div>




            </div>
        </section><!-- End About Us Section -->
        @*<!-- ======= Call To Action Section ======= -->
        <section id="call-to-action" class="call-to-action">
        <div class="container text-center" data-aos="zoom-out">
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
        <h3>Call To Action</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#">Call To Action</a>
        </div>
        </section><!-- End Call To Action Section -->*@
        @* <!-- ======= Our Services Section ======= -->
        <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">

        <div class="section-header">
        <h2>Our Services</h2>
        <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6">
        <div class="service-item  position-relative">
        <div class="icon">
        <i class="bi bi-activity"></i>
        </div>
        <h3>Nesciunt Mete</h3>
        <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
        <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
        <div class="icon">
        <i class="bi bi-broadcast"></i>
        </div>
        <h3>Eosle Commodi</h3>
        <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
        <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
        <div class="icon">
        <i class="bi bi-easel"></i>
        </div>
        <h3>Ledo Markt</h3>
        <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
        <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
        <div class="icon">
        <i class="bi bi-bounding-box-circles"></i>
        </div>
        <h3>Asperiores Commodit</h3>
        <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
        <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
        <div class="icon">
        <i class="bi bi-calendar4-week"></i>
        </div>
        <h3>Velit Doloremque</h3>
        <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
        <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
        <div class="icon">
        <i class="bi bi-chat-square-text"></i>
        </div>
        <h3>Dolori Architecto</h3>
        <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
        <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
        </div><!-- End Service Item -->

        </div>

        </div>
        </section><!-- End Our Services Section -->*@
        <!-- ======= Portfolio Section ======= -->
        @* <section id="portfolio" class="portfolio sections-bg">
        <div class="container" data-aos="fade-up">

        <div class="section-header">
        <h2>Photos</h2>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

        <div>
        <ul class="portfolio-flters">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-app">Image Processing</li>
        <li data-filter=".filter-product">Autonomous</li>
        <li data-filter=".filter-branding">Mapping</li>
        <li data-filter=".filter-books">Hardware</li>
        </ul><!-- End Portfolio Filters -->
        </div>

        <div class="row gy-4 portfolio-container">

        <div class="col-xl-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">App 1</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-product">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-1.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Product 1</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/branding-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-1.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Branding 1</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-books">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/books-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-1.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Books 1</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/app-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">App 2</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-product">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Product 2</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/branding-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Branding 2</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-books">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/books-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Books 2</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/app-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">App 3</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-product">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Product 3</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/branding-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Branding 3</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        <div class="col-xl-4 col-md-6 portfolio-item filter-books">
        <div class="portfolio-wrap">
        <a href="assets/img/portfolio/books-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
        <h4><a href="portfolio-details.html" title="More Details">Books 3</a></h4>
        <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
        </div>
        </div><!-- End Portfolio Item -->

        </div><!-- End Portfolio Container -->

        </div>

        </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Our Team Section ======= -->
        <section id="team" class="team">
        <div class="container" data-aos="fade-up">

        <div class="section-header">
        <h2>Our Team</h2>
        <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
        <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
        <h4>Walter White</h4>
        <span>Web Development</span>
        <div class="social">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
        </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
        <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
        <h4>Sarah Jhinson</h4>
        <span>Marketing</span>
        <div class="social">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
        </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
        <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
        <h4>William Anderson</h4>
        <span>Content</span>
        <div class="social">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
        </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
        <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
        <h4>Amanda Jepson</h4>
        <span>Accountant</span>
        <div class="social">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
        </div>
        </div><!-- End Team Member -->

        </div>

        </div>
        </section><!-- End Our Team Section -->*@
        <!-- ======= Pricing Section ======= -->


    </main><!-- End #main -->


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>